---
apiVersion: v1
kind: Secret
metadata:
  labels:
    k8s-app: {{ app_name }}
  name: kubernetes-dashboard-csrf
  namespace: {{ namespace }}
type: Opaque
data:
  csrf: ""
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    k8s-app: {{ app_name }}
  name: kubernetes-dashboard-key-holder
  namespace: {{ namespace }}
type: Opaque